.clearfix:before,
section:before,
header:before,
.panel:before,
.view .full:before,
.clearfix:after,
section:after,
header:after,
.panel:after,
.view .full:after {
  content: "";
  display: table;
}
.clearfix:after,
section:after,
header:after,
.panel:after,
.view .full:after {
  clear: both;
}
.pull-left {
  float: left;
}
body {
  background: url(../img/dark-bg.png);
  background-attachment: fixed;
}
h1 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
  margin: 0 0 2em;
}
.hidden {
  font: 0.1em/0 a;
  color: transparent;
}
.skip {
  font: 1em/1 Helvetica, Arial, sans-serif;
  color: #000;
  background: white;
  background: -webkit-linear-gradient(#ffffff, #dbdbdb);
  background: -moz-linear-gradient(#ffffff, #dbdbdb);
  border-radius: 6px;
  -webkit-box-shadow: #ffffff 0px -1px 0px inset, rgba(0, 0, 0, 0.5) 0px 4px 30px;
  -moz-box-shadow: #ffffff 0px -1px 0px inset, rgba(0, 0, 0, 0.5) 0px 4px 30px;
  box-shadow: #ffffff 0px -1px 0px inset, rgba(0, 0, 0, 0.5) 0px 4px 30px;
  margin: 10px 0 0 -100px;
  z-index: 50;
  padding: 15px 0;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  top: -100px;
  width: 200px;
  left: 50%;
}
.skip:focus {
  top: 0px;
}
.main > header {
  background: #383e4d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4M2U0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDIwMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #383e4d 0%, #1d2028 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383e4d), color-stop(100%, #1d2028));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #383e4d 0%, #1d2028 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #383e4d 0%, #1d2028 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #383e4d 0%, #1d2028 100%);
  /* IE10+ */

  background: linear-gradient(top, #383e4d 0%, #1d2028 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#383e4d', endColorstr='#1d2028', GradientType=0);
  /* IE6-8 */

  margin: 0;
  border-bottom: 1px solid #121212;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  zoom: 1;
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 1000;
}
.main > header:before,
.main > header:after {
  content: "";
  display: table;
}
.main > header:after {
  clear: both;
}
.main > header > a {
  float: left;
  border: 2px solid #1d2028;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(255, 250, 225, 0.1) url(../img/collapse.png) no-repeat center;
  width: 38px;
  height: 28px;
  color: transparent;
  font: 0/0 a;
  margin: 10px;
  box-shadow: inset 0px 1px 1px rgba(255, 252, 240, 0.15), 0px 1px 1px rgba(255, 252, 240, 0.1);
}
.main > header > a:last-child {
  float: right;
  background: rgba(255, 250, 225, 0.1) url(../img/new.png) no-repeat center;
}
.main > header > a:hover {
  background: rgba(255, 250, 225, 0.2) url(../img/collapse.png) no-repeat center;
}
.main > header > a:last-child:hover {
  background: rgba(255, 250, 225, 0.2) url(../img/new.png) no-repeat center;
}
.main > header h1 {
  margin: -10px auto 0;
  text-align: center;
  width: 108px;
  float: left;
  margin-left: -54px;
  left: 50%;
  position: absolute;
}
.main > header h1 a {
  font: 0/0 a;
  color: transparent;
  background: url(../img/logo.png) no-repeat center;
  display: inline-block;
  width: 107px;
  height: 31px;
}
nav {
  position: fixed;
  z-index: 100;
  color: #F8F8F8;
  background: #373d4c;
  width: 20%;
  left: 0px;
  top: 0px;
  height: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
  border-right: 2px solid #1D2028;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  padding: 17px 25px;
  display: block;
  color: #fffae1;
  text-decoration: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #2a2e3a;
  font-weight: 200;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
nav a:hover {
  text-decoration: none;
  color: #fffae1;
  background: rgba(255, 255, 255, 0.15);
}
#content {
  margin-top: 53px;
}
.main {
  position: absolute;
  left: 0px;
  overflow: hidden;
  width: 100%;
}
ul.brew-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.brew,
.views #general {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  padding: 20px;
  display: block;
  color: #fffae1;
}
.brew:before,
.views #general:before,
.brew:after,
.views #general:after {
  content: "";
  display: table;
}
.brew:after,
.views #general:after {
  clear: both;
}
.brew:hover,
.views #general:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /*img {
      border: 1px solid #fc7537;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
    }*/

}
.brew:nth-child(even),
.views #general:nth-child(even) {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.3) -30px 0px 30px -30px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.3) -30px 0px 30px -30px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.3) -30px 0px 30px -30px inset;
  background: rgba(0, 0, 0, 0.02);
}
.brew:nth-child(even):hover,
.views #general:nth-child(even):hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.brew figure,
.views #general figure {
  margin: 0;
  line-height: 0;
  float: left;
  width: 100px;
  min-width: 50px;
}
.brew figure img,
.views #general figure img {
  margin-left: 23px;
}
.brew figcaption,
.views #general figcaption {
  margin: 0 0 0 20px;
  float: left;
}
.brew figcaption h2,
.views #general figcaption h2 {
  margin: 2% 0 0;
  font-weight: 400;
}
.brew figcaption h3,
.views #general figcaption h3,
.brew figcaption p,
.views #general figcaption p {
  margin: 10px 0 5px;
  font-weight: 100;
  letter-spacing: 0.1em;
}
.panel,
.contain table {
  margin: 0 0 20px;
  padding: 0 10px;
  background: #4c556a;
  border-radius: 4px;
  color: #FFFAE1;
  font-weight: 200;
}
.contain table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.contain table th,
.contain table td {
  padding: 12px 18px;
  border: 0;
  text-align: left;
}
.contain table tr:nth-child(odd) {
  background: #576178;
}
.contain table thead tr:nth-child(odd) {
  background: transparent;
}
.help-block {
  font-size: 0.875em;
  font-style: italic;
  margin: 0.25em 0;
}
.control-group {
  margin-bottom: 1em;
}
section #general,
section #grains,
section #hops,
section #yeast {
  margin: 0 20px;
}
input,
select {
  padding: 6px;
  border-radius: 4px;
  background: #363b4c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.05);
  border: none;
  font-size: 1em;
  color: rgba(246, 250, 225, 0.5);
  -webkit-appearance: none;
}
input:focus,
select:focus {
  background: #FFFAE1;
  outline: 0;
  color: #333;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
label {
  color: transparent;
  font: 0.1em/0 sans-serif;
}
.form-horizontal h2 {
  font-weight: 200;
  font-size: 1.2em;
}
.pull-right {
  float: right;
}
.add,
.remove {
  background: rgba(255, 250, 225, 0.1) url(../img/new.png) no-repeat center;
  border: 2px solid #1d2028;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 38px;
  height: 28px;
  float: left;
  margin-right: 20px;
  color: transparent;
  font: 0/0 a;
  box-shadow: inset 0px 1px 1px rgba(255, 252, 240, 0.15), 0px 1px 1px rgba(255, 252, 240, 0.1);
  cursor: pointer;
}
.add:hover,
.remove:hover {
  background: #d36b34 url(../img/new.png) no-repeat center;
}
.remove {
  background: #666e80 url(../img/delete.png) no-repeat center;
  margin: 20px 0 0;
  height: 30px;
  border-radius: 3px;
  border: 2px solid #2b2a26;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
}
.remove:hover {
  background: #d36b34 url(../img/delete.png) no-repeat center;
}
.contain {
  float: left;
}
ul.actions {
  list-style: none;
  margin-right: 20px;
  text-align: right;
}
ul.actions li {
  display: inline;
  margin-left: 10px;
}
ul.actions li a {
  background: #666e80;
  /* Old browsers */

  background: -moz-linear-gradient(top, #666e80 0%, #4d566b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666e80), color-stop(100%, #4d566b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #666e80 0%, #4d566b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #666e80 0%, #4d566b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #666e80 0%, #4d566b 100%);
  /* IE10+ */

  background: linear-gradient(top, #666e80 0%, #4d566b 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#666e80', endColorstr='#4d566b', GradientType=0);
  /* IE6-9 */

  border-radius: 3px;
  border: 1px solid #2b2a26;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), 0 4px 8px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
}
ul.actions li a:hover {
  background: #4d566b;
  text-decoration: none;
}
ul.actions li:last-child a {
  background: #d36b34;
  /* Old browsers */

  background: -moz-linear-gradient(top, #d36b34 0%, #cc5313 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d36b34), color-stop(100%, #cc5313));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d36b34 0%, #cc5313 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d36b34 0%, #cc5313 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d36b34 0%, #cc5313 100%);
  /* IE10+ */

  background: linear-gradient(top, #d36b34 0%, #cc5313 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d36b34', endColorstr='#cc5313', GradientType=0);
  /* IE6-9 */

}
ul.actions li:last-child a:hover {
  background: #cc5313;
}
input.backless {
  margin: 20px 0;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #FFFAE1;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.5em;
  color: #FFFAE1;
}
input.backless:focus {
  background: #4C556A;
  border-radius: 4px 4px 0 0;
  outline: 0;
}
.control-group {
  float: left;
  margin-right: 10px;
}
.help-block {
  margin-left: 5px;
  color: rgba(255, 250, 225, 0.5);
}
.view .half {
  float: left;
  width: 50%;
}
#grains-chart {
  width: 100%;
}
@media screen and (min-width: 1px) and (max-width: 400px) {
  select {
    max-width: 320px;
  }
  .contain table tr,
  .contain table th {
    padding: 7px 15px;
  }
}
@media screen and (max-width: 860px) {
  .control-group,
  .contain {
    float: none;
  }
  .add {
    overflow: hidden;
  }
  .view .half {
    float: none;
    width: auto;
  }
}
